
.navbar-color {
  background-color: #1C3D5A !important;
  padding-bottom: 12px;
}
.nav-img {
  height: auto;
  width: 100px;
  margin: 0;
}

.nav-link-grow {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #F0A500;
}
.nav-link-grow::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #77C9D4;
  
  transition: width 0.3s ease-out;
}

.nav-link-grow:hover::after {
  width: 100%;
}

.nav-link-grow.active {
  color: #FDF5E6;
}
.nav-link-grow.active::after {
  width: 100%;
}
.nav-item {
  margin: auto;
}

  /* footer */
footer {
  text-align: center;
  padding: 15px 0;
  margin-top: 30px;
  margin: 0;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}


